/*=================<header>=================*/

/*header menu*/

.header_menu{
    width: 1920px;
    height: 50px;
    background-image: url(../image/header/header-menu/bg.svg);
}

.header_menu_container{
    display: flex;
    width: 1220px;
    height: 50px;
    margin-left: 375px;
    margin-right: 375px;
}

.contact_center_form {
    width: 0px;
    height: 0px;
}

.button_contact_center{
    width: 140px;
    height: 17px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    margin-top: 17px;
    margin-left: 860px;  
}

.select_language{
    width: 80px;
    height: 20px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 17px;
}

.select_country{
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin-top: 18px;
    margin-left: 950px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    border: none;
}


/*main menu*/
.main_menu {
    width: 1920px;
    height: 120px;
    background-image: url(../image/header/main-menu/bg.svg);
}

.main_menu_container {
    display: flex;
    width: 1220px;
    height: 120px;
    margin-left: 375px;
    margin-right: 375px;
}

.button_search_form {
    width: 0px;
    height: 0px;
}

.button_search {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ba0000;
    outline: none;
    border: 0px;
    margin-top: 35px;
    margin-left: 210px;
}

.button_search:hover {
    filter: drop-shadow(0px 10px 9px rgba(186, 0, 0, 0.4));
    background-color: #ba0000;
}

.button_search_text {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    position: relative;
}

.logo_form {
    margin-top: 39px;
    width: 134px;
    height: 42px;
}

.button_logo {
    width: 134px;
    height: 42px;
    border: 0px solid #ffffff;
    outline: none;
    background-image: url(../image/header/main-menu/dhl_logo.png);
}

ul.navigation {
    margin-top: 0px;
    width: 780px;
    height: 120px;
    list-style: none;
}

.navigation li {
    float: left;
}

ul.navigation a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ba0000;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    display: block;
    padding-bottom: 41px;
    padding-top: 45px;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
}

ul.navigation a:hover {
    border-bottom: 5px solid #ba0000;
    font-weight: bold;
}

/*=================</header>=================*/
/*=================<body>====================*/

body {
    margin: 0;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

/*slider*/

.conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.after_head {
    width: 1920px;
    height: 800px;
    background-image:
    linear-gradient(45deg, #b90000 15%, rgba(255, 203, 0, 0) 75%), url(../image/Layer_3.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.after_head_title_1 {
    width: 100%;
    max-width: 456px;
    padding-top: 182px;
    font-size: 70px;
    letter-spacing: 2px;
    line-height: 80px;
    color: #ffffff;
    text-align: left;
}

.after_head_title_1:after {
    margin-top: 30px;
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffcc00;
}

.after_head_title_2 {
    width: 100%;
    max-width: 750px;
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffcc00;
    font-weight: 400;
}

.after_head_title_3_conteiner {
    width: 100%;
    max-width: 500px;
    padding-top: 43px;
    display: flex;
}

.after_head_title_3 {
    padding-right: 27px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
}

.after_head_title_3_1 {
    padding-right: 27px;
    color: #ffcc00;
}

.button_conteiner {
    width: 100%;
    max-width: 380px;
    padding-top: 43px;
    display: flex;
}

.button_learn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    outline: none;
}

.button_text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.button_learn:hover {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

.button_learn:hover .button_text {
    color: #ba0000;
}

.button_dhl {
    margin-left: 20px;
    width: 192px;
    height: 50px;
    border-radius: 25px;
    filter: drop-shadow(0px 10px 9px rgba(255,204,0,0.4));
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    outline: none;
}

.button_dhl:hover {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

.button_dhl:hover .button_text {
    color: #ba0000;
}

/*services*/

.services {
    width: 1920px;
    height: 800px;
    background-image:
    url(../image/Background.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.back_title {
    margin-top: 140px;
    font-size: 150px;
    letter-spacing: 5px;
    line-height: 80px;
    color: #f8f8f8;
    position: absolute;
    font-weight: 600;
}

.front_title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 80px;
    color: #ba0000;
    position: absolute;
    top: 140px;
}

.info_blocks {
    display: flex;
}

.info_block1 {
    width: 270px;
    height: 180px;
    background-image:
    url(../image/Layer_2.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block2 {
    width: 270px;
    height: 180px;
    background-image:
    url(../image/Layer_4.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block3 {
    width: 270px;
    height: 180px;
    background-image:
    url(../image/Layer_5.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block_title {
    padding-top: 180px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #ba0000;
    font-weight: 600;
}

.info_block_text {
    max-width: 255px;
    height: 68px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #777777;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
}

.info_block_read {
    display: flex;
    max-width: 110px;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #222222;
    text-decoration: none;
    font-weight: 600;
}

.triangle-right {
    padding-top: 11px;
    padding-left: 6px;
    font-size: 10px;
    color: #ba0000;
}

/*location-form*/

.info_block4 {
    width: 270px;
    height: 340px;
    background-image:
    url(../image/bg1.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block4_cont {
    padding-left: 30px;
}

.info_block4_title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 600;
}

.info_block4_title:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #ffcc00;
}

.info_block4_text {
    padding-top: 30px;
    max-width: 230px;
    height: 41px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

.info_block4_menu {
    margin-top: 63px;
    position: relative;
    width: 210px;
    height: 50px;
    padding-left: 20px;
    margin-bottom: 20px;
    background-color: #9d0000;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
}

.info_block4_menu:after {
    width: 50px;
    height: 50px;
    background-color: #ffcc00;
    content: "▼";
    text-align: center;
    color: #ba0000;
    position: absolute;
    right: 0px;
}

.info_block4_menu .dropdown {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    background-color: #9d0000;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.info_block4_menu .dropdown li a {
    padding-left: 20px;
    margin-left: -40px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-out;
    z-index: 1;
}

.info_block4_menu .dropdown li:hover a {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
}

.info_block4_menu.active:after {
    content: "▲";
}

.info_block4_menu.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}   

.info_button_conteiner {
    width: 100%;
    max-width: 380px;
    display: flex;
    position: inherit;
    z-index: 0;
}

/*about*/

.container_video {
    position: relative;
    width: 1920px;
    height: 700px;   
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playpause {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: linear-gradient(0deg, rgba(255, 203, 0, 0.7019607843137255) 0%, rgba(185, 0, 0, 0) 100%), url(../image/Layer_6.png);
}

.playpause::after {
    padding-left: 5px;
    font-size: 30px;
    line-height: 70px;
    color: #ba0000;
    font-family: "Font Awesome";
    text-align: center;
    content: "▶";
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.playpause:hover:after {
    filter: drop-shadow(0px 10px 9px rgba(255, 204, 0, 0.4));
}

.video_text {
    padding-top: 150px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 80px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}
.conteiner1 {   
    width: 100%;
    max-width: 1170px;
    margin-left: 375px;
}

#rectangle_about1 {
    position: relative;    
    width: 370px;
    height: 409px;
    filter: drop-shadow(0px 10px 9px rgba(191,191,191,0.4));
    background-color: #ffffff;
    margin-top: -200px;    
}

.about1{
    width: 370px;
    height: 200px;
    background-image:url(../image/Layer_7.png);  
}

#rectangle_about2 {
    position: relative;    
    width: 370px;
    height: 409px;  
    margin-left: 30px;  
    filter: drop-shadow(0px 10px 9px rgba(191,191,191,0.4));
    background-color: #ffffff;
    margin-top: -200px;
}

.about2{
    width: 370px;
    height: 200px;
    background-image:url(../image/Layer_9.png);  
}

#rectangle_about3 {
    position: relative;    
    width: 370px;
    height: 409px;  
    margin-left: 30px;  
    filter: drop-shadow(0px 10px 9px rgba(191,191,191,0.4));
    background-color: #ffffff;
    margin-top: -200px;    
}

.about3{
    width: 370px;
    height: 200px;
    background-image:url(../image/Layer_8.png);  
}

.about_text_header{
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ba0000; 
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 600;    
}

.triangle_about{
    display: flex;    
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffcc00;
    max-width: 450px;    
    padding-left: 30px;
    padding-top: 30px;
}

.text_about{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #808080;
    padding-left: 10px;
}

.triangle_about1{
    display: flex;       
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffcc00;
    max-width: 450px;      
    padding-top: 5px;    
    padding-left: 30px;
}

/*express_logistics*/

.express_form{
    width: 572px;
    height: 535px;
    margin-top: 95px;
    background-image:url(../image/bg_express.png);
}

.express_image_border{
    width: 431px;
    height: 499px;
    background-color: rgba(186,0,0,0);
    border: 20px solid #ffcc00;
    margin-left: 700px;
    margin-top: -535px;
}

.express_image{
    display: flex;
    width: 434px;
    height: 499px;
    background-image: linear-gradient(0deg, #ffcb00 0%, rgba(255,255,255,0) 100%),url(../image/express.png);
    margin-top: 15px;
    margin-left: 15px;
}

.express_image_logo{
    width: 156px;
    height: 50px;
    background-image:url(../image/dhl_logo.png);
    margin-top: 448px;
}


/*features*/

.features_image{
    width: 1920px;
    height: 352px;
    margin-top: 99px;
    background-image:url(../image/bg_feature.png);
}

.features_text{
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    padding-top: 90px;
    font-weight: 700;
}

.features_text1{
    padding-top: 35px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 200;
    max-width: 746px;
}

.button_conteiner_features {
    display: flex;
    width: 100%;
    max-width: 380px;
    padding-left: 1015px; 
    margin-top: -100px;    
}


============================================
.express_form_m {
width: 489px;
height: 50px;
background-color: rgba(255,204,0,0);
border: 2px solid #ffffff;
padding-top: 90px;    
}

.express_form_menu {

    position: absolute;
    width: 489px;
    height: 50px;
    background-color: rgba(255,204,0,0);
    padding-left: 20px;
    margin-top: 90px; 
    margin-left: 40px;
    border: 2px solid #ffffff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
    
    
}

.express_form_menu:after {
     position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -1px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    color: #ffffff;
    right: 0px;
    border-left: 1px solid #ffffff;
}

.express_form_menu .dropdown {
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 400;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
    
    
}

.express_form_menu .dropdown li a {
    padding-left: 20px;
    margin-left: -42px;
    width: 489px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-out;
    z-index: 1;
    
    background-color: #a30000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
}

.express_form_menu .dropdown li a1 {
    padding-left: 20px;
    margin-left: -42px;
    width: 489px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    transition: all 0.3s ease-out;
    z-index: 1;
    
    background-color: #a30000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
}

.express_form_menu .dropdown li:hover a {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    color: #ba0000;
}

.express_form_menu .dropdown li:hover a1 {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    color: #ba0000;
}

.express_form_menu.active {
    border: 2px solid #ffcc00;
    background-color: #ffcc00;
    width: 489px;     
    color: #ba0000;
}

.express_form_menu.active:after {
    content: "▲";
   
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.express_form_menu.active .dropdown {
    opacity: 1;
    pointer-events: auto;
} 

.express_form_m1 {
width: 489px;
height: 50px;
background-color: rgba(255,204,0,0);

padding-top: 90px;    
}

.express_form_m2 {
width: 489px;
height: 50px;
background-color: rgba(255,204,0,0);
border: 0px solid #ffffff;
padding-top: 90px;    
}

.express_form_m3 {
width: 489px;
height: 50px;
background-color: rgba(255,204,0,0);
border: 0px solid #ffffff;
padding-top: 90px;    
}
============================================


/*client*/

.client{
    width: 1920px;
    height: 280px;
    background-color: #ffffff;
}

.client_container{
    display: flex;
    width: 1220px;
    height: 280px;
    margin-left: 375px;
    margin-right: 375px;
}

.button_client_form_1 {
    margin-top: 70px;
    width: 270px;
    height: 129px;
}

.button_client_1 {
    width: 270px;
    height: 129px;
    border: 0px solid;
    outline: none;
    background-image: url(../image/client/1/full.png);
}

.button_client_1:hover {
    border: 3px solid #ba0000;
}

.button_client_form_2 {
    margin-top: 70px;
    margin-left: 30px;
    width: 270px;
    height: 129px;
}

.button_client_2 {
    width: 270px;
    height: 129px;
    border: 0px solid;
    outline: none;
    background-image: url(../image/client/2/full.png);
}

.button_client_2:hover {
    border: 3px solid #ba0000;
}

.button_client_form_3 {
    margin-top: 70px;
    margin-left: 30px;
    width: 270px;
    height: 129px;
}

.button_client_3 {
    width: 270px;
    height: 129px;
    border: 0px solid;
    outline: none;
    background-image: url(../image/client/3/full.png);
}

.button_client_3:hover {
    border: 3px solid #ba0000;
}

.button_client_form_4 {
    margin-top: 70px;
    margin-left: 30px;
    width: 270px;
    height: 129px;
}

.button_client_4 {
    width: 270px;
    height: 129px;
    border: 0px solid;
    outline: none;
    background-image: url(../image/client/4/full.png);
}

.button_client_4:hover {
    border: 3px solid #ba0000;
}
/*=================</body>====================*/
/*=================<footer>====================*/


/*=================</footer>====================*/