/*=================<header>=================*/

/*header menu*/
.header_menu {
    width: 1920px;
    height: 50px;
    background-image: url(../image/header/header-menu/bg.svg);
}

.header_menu_container {
    display: flex;
    width: 1220px;
    height: 50px;
    margin-left: 375px;
    margin-right: 375px;
}

.contact_center_form {
    width: 0px;
    height: 0px;
}

.button_contact_center {
    width: 140px;
    height: 17px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    margin-top: 17px;
    margin-left: 860px;
}

.select_language {
    width: 80px;
    height: 20px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    border: none;
    margin-top: 17px;
}

.select_country {
    width: 150px;
    height: 20px;
    font-size: 14px;
    margin-top: 18px;
    margin-left: 950px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    background: #ba0000;
    border: 0px;
    cursor: pointer;
    outline: none;
    border: none;
}


/*main menu*/
.main_menu {
    width: 1920px;
    height: 120px;
    background-image: url(../image/header/main-menu/bg.svg);
}

.main_menu_container {
    display: flex;
    width: 1220px;
    height: 120px;
    margin-left: 375px;
    margin-right: 375px;
}

.button_search_form {
    width: 0px;
    height: 0px;
}

.button_search {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ba0000;
    outline: none;
    border: 0px;
    margin-top: 35px;
    margin-left: 210px;
}

.button_search:hover {
    filter: drop-shadow(0px 10px 9px rgba(186, 0, 0, 0.4));
    background-color: #ba0000;
}

.button_search_text {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    position: relative;
}

.logo_form {
    margin-top: 39px;
    width: 134px;
    height: 42px;
}

.button_logo {
    width: 134px;
    height: 42px;
    border: 0px solid #ffffff;
    outline: none;
    background-image: url(../image/header/main-menu/dhl_logo.png);
}

ul.navigation {
    margin-top: 0px;
    width: 780px;
    height: 120px;
    list-style: none;
}

.navigation li {
    float: left;
}

ul.navigation a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ba0000;
    font-family: "Poppins";
    text-align: center;
    text-decoration: none;
    display: block;
    padding-bottom: 41px;
    padding-top: 45px;
    margin-right: 25px;
    margin-left: 25px;
    cursor: pointer;
}

ul.navigation a:hover {
    border-bottom: 5px solid #ba0000;
    font-weight: bold;
}

/*=================</header>=================*/
/*=================<body>====================*/

body {
    margin: 0;
    font-family: 'Poppins', 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2 {
    margin: 0;
}

/*slider*/

.conteiner {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.after_head {
    width: 1920px;
    height: 800px;
    background-image:
        linear-gradient(45deg, #b90000 15%, rgba(255, 203, 0, 0) 75%), url(../image/Layer_3.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.after_head_title_1 {
    width: 100%;
    max-width: 456px;
    padding-top: 182px;
    font-size: 70px;
    letter-spacing: 2px;
    line-height: 80px;
    color: #ffffff;
    text-align: left;
}

.after_head_title_1:after {
    margin-top: 30px;
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background-color: #ffcc00;
}

.after_head_title_2 {
    width: 100%;
    max-width: 750px;
    padding-top: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffcc00;
    font-weight: 400;
}

.after_head_title_3_conteiner {
    width: 100%;
    max-width: 500px;
    padding-top: 43px;
    display: flex;
}

.after_head_title_3 {
    padding-right: 27px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
}

.after_head_title_3_1 {
    padding-right: 27px;
    color: #ffcc00;
}

.button_conteiner {
    width: 100%;
    max-width: 380px;
    padding-top: 43px;
    display: flex;
}

.button_learn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    outline: none;
}

.button_text {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.button_learn:hover {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

.button_learn:hover .button_text {
    color: #ba0000;
}

.button_dhl {
    margin-left: 20px;
    width: 192px;
    height: 50px;
    border-radius: 25px;
    filter: drop-shadow(0px 10px 9px rgba(255, 204, 0, 0.4));
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    outline: none;
}

.button_dhl:hover {
    box-shadow: 0px 10px 18px rgba(255, 204, 0, 0.4);
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
}

.button_dhl:hover .button_text {
    color: #ba0000;
}

/*services*/

.services {
    width: 1920px;
    height: 800px;
    background-image:
        url(../image/Background.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.back_title {
    margin-top: 140px;
    font-size: 150px;
    letter-spacing: 5px;
    line-height: 80px;
    color: #f8f8f8;
    position: absolute;
    font-weight: 600;
}

.front_title {
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 80px;
    color: #ba0000;
    position: absolute;
    top: 140px;
}

.info_blocks {
    display: flex;
}

.info_block1 {
    width: 270px;
    height: 180px;
    background-image:
        url(../image/Layer_2.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block2 {
    width: 270px;
    height: 180px;
    background-image:
        url(../image/Layer_4.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block3 {
    width: 270px;
    height: 180px;
    background-image:
        url(../image/Layer_5.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block_title {
    padding-top: 180px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #ba0000;
    font-weight: 600;
}

.info_block_text {
    max-width: 255px;
    height: 68px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #777777;
    font-family: "Poppins";
    font-weight: 400;
    text-align: left;
}

.info_block_read {
    display: flex;
    max-width: 110px;
    padding-top: 10px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #222222;
    text-decoration: none;
    font-weight: 600;
}

.triangle-right {
    padding-top: 11px;
    padding-left: 6px;
    font-size: 10px;
    color: #ba0000;
}

/*location-form*/

.info_block4 {
    width: 270px;
    height: 340px;
    background-image:
        url(../image/bg1.png);
    margin-top: 290px;
    margin-right: 30px;
}

.info_block4_cont {
    padding-left: 30px;
}

.info_block4_title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 80px;
    color: #ffffff;
    font-weight: 600;
}

.info_block4_title:after {
    content: "";
    display: block;
    width: 70px;
    height: 4px;
    background-color: #ffcc00;
}

.info_block4_text {
    padding-top: 30px;
    max-width: 230px;
    height: 41px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

.container3 {
    outline: none;
    text-align: center
}

.dropdown6 {
    width: 208px;
    display: inline-block;
    background-color: #9d0000;
    margin-top: 60px;
    margin-left: -30px;
    padding-right: 60px;
    position: relative;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown6:after {
    position: absolute;
    background-color: #ffcc00;
    width: 48px;
    height: 50px;
    margin-top: -44px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ba0000;
    right: 0px;
}

.dropdown6 .select {
    cursor: pointer;
    padding: 10px
}

.dropdown6 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown6:hover {}

.dropdown6:active,
.dropdown6:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown6.active:hover,
.dropdown6.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown6.active:after {
    content: "▲";
    background-color: #ffcc00;
    color: #a30000;
}

.dropdown6 .dropdown-menu6 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 208px;
    margin-left: -1.5px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 9
}

.dropdown6 .dropdown-menu6 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown6 .dropdown-menu6 {
    padding: 0;
    list-style: none
}

.dropdown6 .dropdown-menu6 li:hover {
    color: #ffcc00;
}

.dropdown6 .dropdown-menu6 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.info_button_conteiner {
    width: 100%;
    max-width: 380px;
    margin-top: 20px;
    display: flex;
    position: inherit;
    z-index: 0;
}

/*about*/

.container_video {
    position: relative;
    width: 1920px;
    height: 700px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.playpause {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background-image: linear-gradient(0deg, rgba(255, 203, 0, 0.7019607843137255) 0%, rgba(185, 0, 0, 0) 100%), url(../image/Layer_6.png);
}

.playpause::after {
    padding-left: 5px;
    font-size: 30px;
    line-height: 70px;
    color: #ba0000;
    font-family: "Font Awesome";
    text-align: center;
    content: "▶";
    width: 70px;
    height: 70px;
    border-radius: 35px;
    background-color: #ffcc00;
    border: 2px solid #ffcc00;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

.playpause:hover:after {
    filter: drop-shadow(0px 10px 9px rgba(255, 204, 0, 0.4));
}

.video_text {
    padding-top: 150px;
    font-size: 50px;
    letter-spacing: 2px;
    line-height: 80px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
}

.conteiner1 {
    width: 100%;
    max-width: 1170px;
    margin-left: 375px;
}

#rectangle_about1 {
    position: relative;
    width: 370px;
    height: 409px;
    filter: drop-shadow(0px 10px 9px rgba(191, 191, 191, 0.4));
    background-color: #ffffff;
    margin-top: -200px;
}

.about1 {
    width: 370px;
    height: 200px;
    background-image: url(../image/Layer_7.png);
}

#rectangle_about2 {
    position: relative;
    width: 370px;
    height: 409px;
    margin-left: 30px;
    filter: drop-shadow(0px 10px 9px rgba(191, 191, 191, 0.4));
    background-color: #ffffff;
    margin-top: -200px;
}

.about2 {
    width: 370px;
    height: 200px;
    background-image: url(../image/Layer_9.png);
}

#rectangle_about3 {
    position: relative;
    width: 370px;
    height: 409px;
    margin-left: 30px;
    filter: drop-shadow(0px 10px 9px rgba(191, 191, 191, 0.4));
    background-color: #ffffff;
    margin-top: -200px;
}

.about3 {
    width: 370px;
    height: 200px;
    background-image: url(../image/Layer_8.png);
}

.about_text_header {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ba0000;
    padding-left: 30px;
    padding-top: 30px;
    font-weight: 600;
}

.triangle_about {
    display: flex;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffcc00;
    max-width: 450px;
    padding-left: 30px;
    padding-top: 30px;
}

.text_about {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #808080;
    padding-left: 10px;
}

.triangle_about1 {
    display: flex;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffcc00;
    max-width: 450px;
    padding-top: 5px;
    padding-left: 30px;
}

/*express_logistics*/

.express_form {
    margin-top: 95px;
}

.express_image_border {
    width: 431px;
    height: 499px;
    background-color: rgba(186, 0, 0, 0);
    border: 20px solid #ffcc00;
    margin-left: 700px;
    margin-top: -535px;
}

.express_image {
    display: flex;
    width: 434px;
    height: 499px;
    background-image: linear-gradient(0deg, #ffcb00 0%, rgba(255, 255, 255, 0) 100%), url(../image/express.png);
    margin-top: 15px;
    margin-left: 15px;
}

.express_image_logo {
    width: 156px;
    height: 50px;
    background-image: url(../image/dhl_logo.png);
    margin-top: 448px;
}

.tabs {
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.tabs > input {
    display: none;
}

.tabs > div {
    width: 572px;
    height: 497px;
    display: none;
    padding: 12px;
    background: #ba0000;
}

.tabs > label {
    display: inline-block;
    width: 286px;
    height: 50px;
    padding: 18px;
    margin: 0 -5px -1px 0;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-align: center;
    font-weight: 600;
    color: #ba0000;
    background: #ffcc00;
    cursor: pointer;
}

.tabs > input:checked + label {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    background: #ba0000;
}

#tab_1:checked ~ #txt_1,
#tab_2:checked ~ #txt_2 {
    display: block;
}

/*features*/

.features_image {
    width: 1920px;
    height: 352px;
    margin-top: 99px;
    background-image: url(../image/bg_feature.png);
}

.features_text {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #ffffff;
    padding-top: 90px;
    font-weight: 700;
}

.features_text1 {
    padding-top: 35px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 200;
    max-width: 746px;
}

.button_conteiner_features {
    display: flex;
    width: 100%;
    max-width: 380px;
    padding-left: 1015px;
    margin-top: -100px;
}

============================================
.container2 {
    outline: none;
    text-align: center
}

.dropdown {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 90px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown .select {
    cursor: pointer;
    padding: 10px
}

.dropdown .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown:active,
.dropdown:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown.active:hover,
.dropdown.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    border-top: 2px solid #ffcc00;
}

.dropdown.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.9px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9
}

.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
}

.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}

.dropdown .dropdown-menu li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown .dropdown-menu li:hover {
    color: #ffcc00;
}

.dropdown .dropdown-menu li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.ex_text {
    margin: 0;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 16px;
    line-height: 24px;
    background: #a30000;
    width: 489px;
    font-weight: 600;
    margin-left: 0px;
}

.dropdown1 {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown1:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown1 .select {
    cursor: pointer;
    padding: 10px
}

.dropdown1 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown1:active,
.dropdown1:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown1.active:hover,
.dropdown1.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown1.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown1 .dropdown-menu1 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.8px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9;
}

.dropdown1 .dropdown-menu1 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown1 .dropdown-menu1 {
    padding: 0;
    list-style: none;
}

.dropdown1 .dropdown-menu1 li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown1 .dropdown-menu1 li:hover {
    color: #ffcc00;
}

.dropdown1.dropdown-menu1 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.dropdown2 {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown2:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown2 .select {
    cursor: pointer;
    padding: 10px;
}

.dropdown2 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown2:active,
.dropdown2:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown2.active:hover,
.dropdown2.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown2.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown2 .dropdown-menu2 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.8px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9;
}

.dropdown2 .dropdown-menu2 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown2 .dropdown-menu2 {
    padding: 0;
    list-style: none;
}

.dropdown2 .dropdown-menu2 li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown2 .dropdown-menu2 li:hover {
    color: #ffcc00;
}

.dropdown2.dropdown-menu2 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.dropdown3 {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown3:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown3 .select {
    cursor: pointer;
    padding: 10px;
}

.dropdown3 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown3:active,
.dropdown3:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown3.active:hover,
.dropdown3.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown3.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown3 .dropdown-menu3 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.8px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9;
}

.dropdown3 .dropdown-menu3 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown3 .dropdown-menu3 {
    padding: 0;
    list-style: none;
}

.dropdown3 .dropdown-menu3 li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown3 .dropdown-menu3 li:hover {
    color: #ffcc00;
}

.dropdown3.dropdown-menu3 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.dropdown4 {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 90px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown4:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown4 .select {
    cursor: pointer;
    padding: 10px;
}

.dropdown4 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown4:active,
.dropdown4:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown4.active:hover,
.dropdown4.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown4.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown4 .dropdown-menu4 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.8px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9;
}

.dropdown4 .dropdown-menu4 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown4 .dropdown-menu4 {
    padding: 0;
    list-style: none;
}

.dropdown4 .dropdown-menu4 li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown4 .dropdown-menu4 li:hover {
    color: #ffcc00;
}

.dropdown4 .dropdown-menu4 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

.dropdown5 {
    width: 489px;
    display: inline-block;
    background-color: rgba(255, 204, 0, 0);
    border: 2px solid #ffffff;
    margin-top: 30px;
    margin-left: 40px;
    position: relative;
    padding-left: 15px;
    transition: all .5s ease;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #fff;
    height: 50px;
}

.dropdown5:after {
    position: absolute;
    width: 48px;
    height: 48px;
    margin-top: -44.8px;
    margin-right: -1px;
    content: "▼";
    text-align: center;
    padding-top: 10px;
    color: #ffffff;
    right: 0px;
    border-left: 2px solid #ffffff;
}

.dropdown5 .select {
    cursor: pointer;
    padding: 10px;
}

.dropdown5 .select > i {
    font-size: 14px;
    transition: all .3s ease-in-out;
    color: #fff;
    cursor: pointer;
}

.dropdown5:active,
.dropdown5:focus {
    outline: none !important;
    background-color: #ba0000;
}

.dropdown5.active:hover,
.dropdown5.active {
    background-color: #ffcc00;
    color: #ba0000;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    border-top: 1px solid #ffcc00;
}

.dropdown5.active:after {
    content: "▲";
    background-color: #ffcc00;
    border-left: 2px solid #a30000;
    color: #a30000;
}

.dropdown5 .dropdown-menu5 {
    position: absolute;
    background-color: #a30000;
    color: #fff;
    width: 489px;
    margin-left: -16.8px;
    margin-top: 1px;
    overflow: hidden;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    border-left: 2px solid #ffcc00;
    border-right: 2px solid #ffcc00;
    border-bottom: 2px solid #ffcc00;
    z-index: 9;
}

.dropdown5 .dropdown-menu5 li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.dropdown5 .dropdown-menu5 {
    padding: 0;
    list-style: none;
}

.dropdown5 .dropdown-menu5 li:before {
    padding-left: 10px;
    content: '▶ ';
    color: #ffcc00;
}

.dropdown5 .dropdown-menu5 li:hover {
    color: #ffcc00;
}

.dropdown5.dropdown-menu5 li:active {
    background-color: #ffcc00;
    color: #ba0000;
}

============================================

/*client*/

.client {
    width: 1920px;
    height: 280px;
    background-color: #ffffff;
}

.client_container {
    display: flex;
    width: 1220px;
    height: 280px;
    margin-left: 375px;
    margin-right: 375px;
}

.client_container button {
    margin-top: 70px;
    width: 270px;
    height: 129px;
    border: 0px solid;
    outline: none;
}

.client_container button:hover {
    border: 3px solid #ba0000;
}

.button_client_1 {
    background-image: url(../image/client/1/full.png);
}

.button_client_2 {
    margin-left: 30px;
    background-image: url(../image/client/2/full.png);
}

.button_client_3 {
    margin-left: 30px;
    background-image: url(../image/client/3/full.png);
}

.button_client_4 {
    margin-left: 30px;
    background-image: url(../image/client/4/full.png);
}

/*=================</body>====================*/
/*=================<footer>====================*/

.footer {
    display: flex;
    width: 1920px;
    height: 310px;
    background-color: #ffffff;
}

.footer_container {
    display: flex;
    width: 1090px;
    height: 310px;
}

.footer_container a {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #777777;
    font-family: "Poppins";
    text-decoration: none;
    font-weight: bold;
    outline: none;
    display: block;
    cursor: pointer;
}

.footer_container a:hover {
    color: #ffcb00;
}

.footer_container span {
    font-weight: bolder;
    font-size: 20px;
    color: #ba0000;
}

.link_box_1 {
    margin-left: 59px;
}

.link_box_2 {
    margin-left: 185px;
}

.link_box_3 {
    margin-left: 92px;
}

/*=================</footer>====================*/
